/wp-admin/
/wp-content/w3tc-config/
/wp-content/cache/
/wp-content/languages/
/wp-content/mu-plugins/
/wp-content/plugins/
/wp-content/themes/twentytwentyone/
/wp-content/themes/twentytwentythree/
/wp-content/themes/twentytwentytwo/
/wp-content/themes/index.php
/wp-content/upgrade/
/wp-content/upgrade-temp-backup/
/wp-content/uploads/
/wp-content/w3tc-config/
/wp-content/wflogs/
/wp-content/advanced-cache.php
/wp-content/index.php
/wp-content/object-cache.php
/wp-includes/
/.gitignore
/.htaccess
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php